# INFORMAÇÕES PARA ACESSO AO BANCO
DB_USER=<NOME DO USUÁRIO DO BANCO>
DB_PASS=<SENHA DO USUÁRIO DO BANCO>
DB_NAME=<NOME DO BANCO UTILIZADO>

# CONTAINER A SER ACESSADO
CONTAINER_NAME=<NOME DO CONTAINER>